*{
    box-sizing: border-box;
  }
  
  img{
    width: 100%;
    height: auto;
    display: block;
  }

  body{
    font-family: $fontFamily;
    background-color: whitesmoke;
  }
  
  
  ul{
    list-style: none;
  }

  input{
    padding: 10px;
    width: 70%;
    border: 1px solid black;
    outline: none;
}