@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');
$fontFamily:'Marvel';
$breakPointTablet: 800px;
$breakPointDesktop: 1140px;
$fontSize: 1em;
$marginGrid: 10px;