<div class="grid">
    <section class="col-12 col-t-4">
        <form action="" #formTeam="ngForm" (ngSubmit)="dateTeam(formTeam)">
            <input id="name" type="text" class="" placeholder="Nombre" ngModel name="name">
            <input id="description" type="text" class="" placeholder="Descripción" ngModel name="description">
            <input type="submit" class="" value="Crear">
        </form>
    </section>
    <section class="col-12 col-t-8">
        <h5>{{myTeam.name}}</h5>
        <p>{{myTeam.description}}</p>
        <section class="grid">
            <article class="col-12 col-t-3" *ngFor="let hero of heroTeam">
                <app-thumbnail [heroCard]="hero"></app-thumbnail>
            </article>
        </section>
    </section>
</div>
