@import 'variables';
@import 'grid';


.main{
    .grid{
        padding: 3rem;
    }

    div{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}
